<div class="modal" id="addUpdateArtistModal" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{isEdit?'Edit':'Add'}} Song</h5>
        </div>
        <div class="modal-body">
         
          <form #artistForm="ngForm">
            <div   *ngIf="!isEdit || isSoportify==false">
           
            <div class="form-group">
              <label>Upload Song</label><br>
              <label class="file">
                <!-- <input type="file" accept="image/*" (change)="onImageSelect($event)" /> -->
                <input type="file" (change)="onSongSelect($event)" id="artistFile" accept="audio/mpeg">
              </label>
              <div *ngIf="imgsrc">
                <audio controls>
                  <source src="{{imgsrc}}" width="100px" height="100px" type="audio/mpeg">
                </audio>
                <!-- <img src="{{imgsrc}}" width="100px" height="100px"> -->
  <!--              <p><a href="javascript:void(0)" (click)="onImageRemove()">Remove</a></p>-->
              </div>
          
            </div>
            <div  class="row">
           
              <!-- <div class="col-md-3">
            <div class="form-group">
              
              <label>IsSponsored</label><br>
            <ui-switch labelOn="ON"  switchColor="#4e73df" id="isActive" [(ngModel)]="isKandleSponsored" 
            name="isKandleSponsored" labelOff="OFF" ></ui-switch>
            </div>
            </div>
            -->
            <div class="col-md-3">
              <div class="form-group">
                
                <label>IsFeatured</label><br>
              <ui-switch labelOn="ON"  switchColor="#4e73df" id="isActive" [(ngModel)]="isfeaturedSong" 
              name="isfeaturedSong" labelOff="OFF" ></ui-switch>
              </div>
              </div>
            <!-- <div class="col-md-6">
              <div class="form-group">
                 <label>Advertisment</label><br>
              <ui-switch labelOn="ON"  switchColor="#4e73df" id="isActive" [(ngModel)]="isSong" 
              name="isSong" labelOff="OFF" ></ui-switch>
              </div>
              </div> -->
            </div>
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" maxlength="80" name="name" [(ngModel)]="SongName" required />
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" maxlength="20" name="description" [(ngModel)]="description" required ></textarea>
            </div>
            
            <!-- <div class="form-group">
              <label>Preview Url</label>
              <input type="text" class="form-control" maxlength="30" name="previewUrl" [(ngModel)]="previewUrl" required />
            </div> -->
            <div  *ngIf="categoryList && categoryList.length>0" class="form-group">
              <label>Category </label>
              <ngx-select-dropdown (change)="onChangeCategoryById($event)"
                                                        name="category" [(ngModel)]="category"
                                                        [config]="config" [options]="categoryList">
                                                    </ngx-select-dropdown>
              <!-- <select name="category" class="form-control" [(ngModel)]="category"  required>
                <option value="">Select Category</option>
                <option *ngFor="let item of categoryList;" value="{{item._id}}">{{item.name}}</option>
              </select>          -->
               </div>
               <div *ngIf="albumList && albumList.length>0" class="form-group">
                <label>Album </label>
                <ngx-select-dropdown (change)="onChangeAlbumById($event)"
                                                        name="album" [(ngModel)]="album"
                                                        [config]="config2" [options]="albumList">
                                                    </ngx-select-dropdown>
                <!-- <select name="album" class="form-control" [(ngModel)]="album">
                  <option value="">Select Album</option>
                  <option *ngFor="let item of albumList;" value="{{item._id}}">{{item.name}}</option>
                </select>          -->
                <!-- name="artistlist" -->
                 </div>
                 <div *ngIf="ArtistList && ArtistList.length>0" class="form-group">
                  <label>Artist </label>
                  <ng-multiselect-dropdown
                  [placeholder]="'Select Artist'"
                  [data]="ArtistList"
                  
                  [(ngModel)]="artist"
                  [ngModelOptions]="{standalone: true}"
                  [settings]="dropDownSetting"
                  (onSelect)="onItemSelect($event)"
                  (onDeSelect)="onDeSelect($event)"
                  [disabled]="true"
                >
                </ng-multiselect-dropdown>
                  <!-- <select name="artist" class="form-control" [(ngModel)]="artist" (change)="onChangeCategoryById($event.target.value,'')">
                    <option value="">Select Artist</option>
                    <option *ngFor="let item of albumList;" value="{{item.id}}">{{item.name}}</option>
                  </select>          -->
                   </div>
                              <div  *ngIf="PlayList && PlayList.length>0" class="form-group">
              <label>Playlist </label>
              <ngx-select-dropdown (change)="onChangePlayListById($event)"
                                                        name="play" [(ngModel)]="play"
                                                        [config]="config1" [options]="PlayList">
                                                    </ngx-select-dropdown>
              <!-- <select name="play" class="form-control" [(ngModel)]="play" (change)="onChangePlayListById($event.target.value)">
                <option value="">Select Playlist</option>
                <option *ngFor="let item of PlayList;" value="{{item._id}}">{{item.name}}</option>
              </select>          -->
               </div>
              </div> 
            <div   *ngIf="isEdit && isSoportify==true">
         
         
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" maxlength="80" name="name" [(ngModel)]="SongName" required />
            </div>
          
          </div>
            </form>
       
        
        
        </div>
        <div class="modal-footer">
          <button *ngIf="!isEdit" type="button" class="btn btn-primary" [disabled]="!artistForm.valid || flags.isAdded" (click)="AddSong()">{{flags.isAdded?'Saving...':'Save'}}</button>
          <button *ngIf="isEdit" type="button" class="btn btn-primary" [disabled]="!artistForm.valid || flags.isUpdate" (click)="editSong()">{{flags.isUpdate?'Updating...':'Update'}}</button>
          <button type="button" class="btn btn-secondary" id="closeArtistModal" (click)="onCancel()" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" id="openArtistModal" data-toggle="modal" data-target="#addUpdateArtistModal">
  

