.btn{
    border-radius: 22px;
    padding: 11px 79px;
}

.form-control{
    padding: 1.375rem .75rem;
    border-radius: 1.35rem;
}
.invalid-case{
    color:red;
    margin-left: 13px;
    font-size: 14px;
}