<div class="container" style="margin-top:140px">

     <div class="row justify-content-center">

        <div class="col-lg-6">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                     <div class="row">
                       
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Reset Password</h1>
                                </div>
                                
                                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <input type="password" formControlName="password" class="form-control"
                                          placeholder="New Password" />
                                        <div *ngIf="submitted && f.password.errors">
                                            <div class="invalid-case" *ngIf="f.password.errors.required">Password is required</div>
                                            <div class="invalid-case" *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" formControlName="confirmPassword" class="form-control"
                                          placeholder="Confirm Password" />
                                        <div *ngIf="submitted && f.confirmPassword.errors">
                                            <div  class="invalid-case" *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                            <div  class="invalid-case" *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <button class="btn btn-primary">Submit</button>
                                    </div>
                                </form>             
                              </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

 