<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-12 user_title">
          <h6 class="m-0 font-weight-bold text-primary">USERS</h6>
        </div>
        <div class="col-md-4 user_filter">
          <label>Filter</label>
          <input type="text" class="form-control" name="searchText" [(ngModel)]="filterBody.searchText"
            placeholder="Search User">
        </div>
        <div class="col-md-5 user_serch_btn">
          <button type="submit" class="btn btn-primary pl-4 pr-4" (click)="searchUser()">Search</button>
          <button type="reset" class="btn btn-primary pl-4 pr-4 ml-2" (click)="reset()">Reset</button>
        </div>
        <div *ngIf="(role=='SubAdmin'&& access.add==true)||role=='SuperAdmin'" class="col-md-3 text-right">
          <button class="btn btn-primary" routerLink="/dashboard/add-user"><span class="fas fa-plus"></span> Add
            User</button>

        </div>

      </div>
      <div class="col-md-12 text-right">
        <button class="btn btn-primary ml-2" (click)="generateUserCsv()"><span class="fas fa-download"></span> User
          CSV</button>
        <!-- <button class="btn btn-primary ml-2" (click)="generateSellerCsv()"><span class="fas fa-download"></span>
          Seller
          CSV</button> -->
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Phone</th>
              <!-- <th>City</th> -->
              <th>Location</th>
              <th>Profile Type</th>
              <!-- <th>Document</th> -->
              <th *ngIf="(role=='SubAdmin' && (access.edit==true))||role=='SuperAdmin'">Status</th>
              <th *ngIf="(role=='SubAdmin' && (access.edit==true || access.delete==true))||role=='SuperAdmin'"
                [width]="'10%'">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of userList | paginate: config ; let i = index">
              <td>{{i + serialNumber + 1}}</td>
              <td>{{item.firstName}} {{item.lastName}}</td>
              <td>{{item.userName}}</td>
              <td>{{item.email}}</td>
              <td>{{item.countryCode}} {{item.phoneNo}}</td>
              <!-- <td>{{item.city}}</td> -->
              <td>{{item.location}}</td>

              <!-- <td class="text-center">
                <button class="btn btn-primary" data-toggle="modal" data-target="#productInfoModal"
                  (click)="selectedProduct = item.bankList"><span class="fas fa-eye"></span></button>
              </td> -->
              <td><span *ngIf="item.profileType =='PUBLIC'" class="badge badge-info">Public</span>
                <span *ngIf="item.profileType =='PRIVATE'" class="badge badge-info">Private</span>
              </td>
              <td *ngIf="(role=='SubAdmin' && (access.edit==true))||role=='SuperAdmin'" [width]="'30px'">
                <span *ngIf="item.isBlocked==true" class="badge badge-error">Blocked</span>
                <div *ngIf="(role=='SubAdmin'&& access.edit==true)||role=='SuperAdmin'">
                  <!-- <span *ngIf="item.isBlocked == true" class="badge badge-success UnBlock"
                    (click)="UnBlock(item)">UnBlock</span> -->
                    <button *ngIf="item.isBlocked == true" class="btn btn-primary UnBlock" (click)="UnBlock(item)">UnBlock</button>
                </div>
                <div *ngIf="(role=='SubAdmin'&& access.edit==true)||role=='SuperAdmin'">
                  <button *ngIf="item.isBlocked == false" class="btn btn-primary UnBlock" (click)="Block(item)">Block</button>

                  <!-- <span *ngIf="item.isBlocked == false" class="badge badge-error" (click)="Block(item)">Block</span> -->
                </div>
              </td>

              <td 
                *ngIf="(role=='SubAdmin' && access.edit == true)||(role=='SubAdmin' && access.delete == true)||role=='SuperAdmin'"
                class="action">
                <div class="d-flex">
                  <button *ngIf="(role=='SubAdmin'&& access.edit==true)||role=='SuperAdmin'"
                    class="btn btn-primary mr-1 " data-toggle="tooltip" data-placement="top" title="Edit"
                    routerLink="/dashboard/edit-user/{{item._id}}"><span class="fas fa-fw fa-edit"></span></button>
                  <button *ngIf="(role=='SubAdmin'&& access.delete==true)||role=='SuperAdmin'" class="btn btn-danger"
                    data-toggle="tooltip" data-placement="top" title="Delete" (click)="deleteUser(item._id)"><span
                      class="fas fa-fw fa-trash"></span></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <h4 *ngIf="!userList.length" class="text-center">No records found.</h4>
      </div>
      <pagination *ngIf="userList?.length>0" [totalItems]="totalItems" [maxSize]="5" [boundaryLinks]="true"
        [(ngModel)]="currentPage" (pageChanged)="onPageChange($event)"></pagination>
    </div>
  </div>
</div>
<app-bankdetail-modal [BankList]="selectedProduct"></app-bankdetail-modal>