.form-control {
  width: unset !important;
}
.col-md-12.text-right {
  margin-top: 10px;
}
.UnBlock{margin-top: 8px;width: 100%;display: inline-block;vertical-align: middle;}
.badge {cursor: pointer;}
.badge-error {
  background-color: #e74a3b;color: #fff;
}