<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h6 class="m-0 font-weight-bold text-primary">ADMIN PROFILE</h6>
            </div>
            <div class="col-md-6 text-right">
              <button class="btn btn-primary" (click)="history.back()"><span class="fas fa-arrow-left"></span> Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link heading_name" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Profile
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <form #profileForm="ngForm">
                  <div class="form-group">
                    <label> Name</label>
                    <input type="text" name="firstName" [(ngModel)]="admin.firstName" maxlength="25" class="form-control" pattern="^[a-zA-Z0-9!@#$%^&*()]+$" required />
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="email" maxlength="50" [(ngModel)]="admin.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" required />
                  </div>
                  <div class="form-group">
                    <label>Phone</label>
                    <input type="text" name="admin_name" minlength="7" maxlength="15" [(ngModel)]="admin.phoneNo" appNumberOnly class="form-control" required />
                  </div>
                <div class="row mt-2">
                  <div class="col-md-12">
                    <button class="btn btn-primary" [disabled]="!profileForm.valid || flags.isUpdate" (click)="updateProfile()">
                      <span class="fas fa-save"></span>
                      {{flags.isUpdate?'Updating...':'Update'}}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed heading_name" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Change Password
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <form #changePasswordForm="ngForm">
                <div class="form-group">
                  <label>Current Password</label>
                  <input type="password" name="oldPassword" [(ngModel)]="changePassBody.oldPassword" maxlength="50" class="form-control" required />
                </div>
        
                <div class="form-group">
                  <label>New Password</label>
                  <input type="password" name="currentPassword"  id="exampleInputEmail" [(ngModel)]="changePassBody.newPassword" maxlength="50" class="form-control" required />
                </div>
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" name="currentPassword" id="exampleInputEmail" [(ngModel)]="changePassBody.confirmPassword" maxlength="50" class="form-control" required />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" [disabled]="!changePasswordForm.valid || flags.isPassChange" (click)="changePassword()">
                    {{flags.isPassChange?'Hold on...':'Change Password'}}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
