<div class="modal" id="addUpdateArtistModal" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{isEdit?'Edit':'Add'}} Artist</h5>
        </div>
        <div class="modal-body">
          <form #artistForm="ngForm">
            <div class="form-group">
              <label>Image</label><br>
              <label class="file">
                <!-- <input type="file" accept="image/*" (change)="onImageSelect($event)" /> -->
                <input type="file" (change)="onImageSelect($event)" id="artistFile" accept=".png, .jpg, .jpeg">
              </label>
              <div *ngIf="src">
                <img src="{{src}}" width="100px" height="100px">
  <!--              <p><a href="javascript:void(0)" (click)="onImageRemove()">Remove</a></p>-->
              </div>
            </div>
            <div class="form-group">
              <label>IsFeatured</label><br>
            <ui-switch labelOn="ON"  switchColor="#4e73df" id="isActive" [(ngModel)]="isfeaturedArtist" 
            name="isfeaturedArtist" labelOff="OFF"></ui-switch>
            </div>
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" maxlength="20" name="name" [(ngModel)]="artistName" required />
            </div>
          
          </form>
        </div>
        <div class="modal-footer">
          <button *ngIf="!isEdit" type="button" class="btn btn-primary" [disabled]="!artistForm.valid || flags.isAdded" (click)="AddArtist()">{{flags.isAdded?'Saving...':'Save'}}</button>
          <button *ngIf="isEdit" type="button" class="btn btn-primary" [disabled]="!artistForm.valid || flags.isUpdate" (click)="editArtist()">{{flags.isUpdate?'Updating...':'Update'}}</button>
          <button type="button" class="btn btn-secondary" id="closeArtistModal" (click)="onCancel()" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" id="openArtistModal" data-toggle="modal" data-target="#addUpdateArtistModal">
  