<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row">
          <div class="col-md-12 user_title">
            <h6 class="m-0 font-weight-bold text-primary">CELEBRITY</h6>
          </div>
          <div class="col-md-4 user_filter">
            <label>Filter</label>
            <input type="text" class="form-control" name="searchText" [(ngModel)]="filterBody.searchText"
              placeholder="Search Celebrity by Username">
          </div>
          <div class="col-md-5 user_serch_btn">
            <button type="submit" class="btn btn-primary pl-4 pr-4" (click)="searchUser()">Search</button>
            <button type="reset" class="btn btn-primary pl-4 pr-4 ml-2" (click)="reset()">Reset</button>
          </div>      
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>#</th>
                <th>Photo Id</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Location</th>
                <th class="approve_status">Status</th>
                          <th  *ngIf="(role=='SubAdmin' &&  access.delete==true)||role=='SuperAdmin'">Action</th>    

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of userList | paginate: config ; let i = index">
                <td>{{i + serialNumber + 1}}</td>
                <td><img  src="{{imageUrl}}{{item.photoId}}" width="70px" height="70px"></td>

                <td><span *ngIf="item.userId">{{item.userId.firstName}} {{item.userId.lastName}}</span></td>
                <td>{{item.userName}}</td>
                <td><span *ngIf="item.userId">{{item.userId.email}}</span></td>
                
                <td><span *ngIf="item.userId">{{item.userId.location}}</span></td>
             
                <td class="status">

                  <div *ngIf="item.status == 'PENDING'">
                    <button  [disabled]="role=='SubAdmin'&& access.edit==false"   class="btn btn-primary"
                      (click)="approved(item,'ACCEPTED')">Accept</button>
                      <button [disabled]="role=='SubAdmin'&& access.edit==false"  class="btn btn-primary ml-2"
                      (click)="approved(item,'REJECTED')">Reject</button>
                  </div>
                  <span *ngIf="item.status == 'ACCEPTED'" class="badge badge-success"
                 >Accepted</span>
                    <span *ngIf="item.status == 'REJECTED'" class="badge badge-error"
                     >Reject</span>

                </td>
  
                <td  *ngIf="(role=='SubAdmin'&& access.delete==true)||role=='SuperAdmin'" class="action" >
                  <div class="d-flex">
                    <button   *ngIf="(role=='SubAdmin'&& access.delete==true)||role=='SuperAdmin'" [disabled]="item.status !='ACCEPTED' && item.status !='REJECTED'" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete"
                      (click)="RemoveCelebrity(item.userId._id)"><span class="fas fa-fw fa-trash"></span></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <h4 *ngIf="!userList.length" class="text-center">No records found.</h4>
        </div>
        <pagination *ngIf="userList?.length>0" [totalItems]="totalItems" [maxSize]="5" [boundaryLinks]="true" [(ngModel)]="currentPage"
          (pageChanged)="onPageChange($event)"></pagination>
      </div>
    </div>
  </div>
  <app-bankdetail-modal [BankList]="selectedProduct"></app-bankdetail-modal>