button:disabled {
  background: gray;
  border-color: gray;
  cursor: not-allowed;
}
button {
  outline: none !important;
}

.bg-login-image {
  background: #ffffff !important;
}


.forgot_passwd{width: 100%;
display: inline-block;vertical-align: middle;text-align: center;margin-top: 20px;}
.justify-content-center {
  -webkit-box-pack: center!important;
  height: 100vh;
  align-items: center;
  justify-content: center!important;
}

.align_center_login {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 86px;
}
.align_center_login figure{width: 171px;height: 181px;    margin: 0 auto;}
.align_center_login figure img{width: 100%;height:100%;object-fit: contain;}
