<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5 outer_login">
        <div class="card-body p-0 container_detail">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-login-image">
              <div class="align_center_login">
                <figure> <img src="assets/img/Group.png"></figure>
               
              </div>
            </div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form class="user" #loginForm="ngForm">
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" name="email" [(ngModel)]="loginBody.email" id="exampleInputEmail" aria-describedby="emailHelp" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Enter Email Address..." required />
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" name="pass" [(ngModel)]="loginBody.password" id="exampleInputPassword" placeholder="Password" required />
                  </div>
                  <button [@shake]="flags.isError" class="btn btn-primary btn-user btn-block" (click)="login()" type="submit" [disabled]="!loginForm.valid || flags.isError || flags.isLogin">
                    {{flags.isError?errorMessage:flags.isLogin?'Hold on...': 'Login'}}
                  </button>
                  <a href="javascript:void(0)" class="forgot_passwd" data-toggle="modal" data-target="#forgotPasswordModal">Forgot password</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<app-forgot-password-modal></app-forgot-password-modal>
