@media(max-width:1500px){
    .modal-content {
    overflow-y: scroll;
    height: 550px;
    }
    }
    .multiselect-dropdown[_ngcontent-ooi-c12] .dropdown-btn[_ngcontent-ooi-c12] .dropdown-down[_ngcontent-ooi-c12] {
    display: inline-block;
    top: 10px;
    width: 0;
    height: 0;
    border-top: 8px solid #333333;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    }