<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-12 user_title">
          <h6 class="m-0 font-weight-bold text-primary">Report</h6>
        </div>
        <div class="col-md-3 user_filter">
          <label>Filter</label>
          <input type="text" class="form-control" name="searchText" [(ngModel)]="filterBody.searchText"
            placeholder="Search with Message">
        </div>
        <div class="col-md-3 user_filter">
          <select name="reportStatus" [(ngModel)]="filterBody.reportStatus" (change)="getContact(1)" class="form-control">
            <option value="ALL">All</option>
            <option value="ARTISTS">Artist</option>
            <option value="SONGS">Song</option>
          </select>
        </div>
        <div class="col-md-3 user_serch_btn">
          <button type="submit" class="btn btn-primary pl-4 pr-4" (click)="searchPlaylist()">Search</button>
          <button type="reset" class="btn btn-primary pl-4 pr-4 ml-2" (click)="reset()">Reset</button>
        </div>

      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>#</th>
              <th>User Name</th>
              <th>Reported User</th>
              <th>Reported Count</th>
              <th>Song Name</th>
              <th>Message</th>
              <th>Created Date</th>
              <th>Reported To</th>
              <th>Blocked Song</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <div class="form-group">
                  <select name="reportStatus" [(ngModel)]="filterBody.reportStatus" (change)="getContact(1)" class="form-control">
                    <option value="ALL">All</option>
                    <option value="ARTISTS">Artist</option>
                    <option value="SONGS">Song</option>
                  </select>
                </div>
              </td>
              <td></td>
            </tr> -->
          <tbody>
            <tr *ngFor="let item of reportData  | paginate: config ; let i = index">
              <td>{{i + serialNumber + 1}}</td>
              <td><span *ngIf="item.reporterUserId">{{item.reporterUserId.firstName}}
                  {{item.reporterUserId.lastName}}</span></td>
              <td><span *ngIf="item.userId">{{item.userId.firstName}} {{item.userId.lastName}}</span>
                <span *ngIf="!item.userId">N/A</span></td>
                <td>{{item.reportCount}}</td>

              <td><span *ngIf="item.songId">{{item.songId.name}}</span>
                <span *ngIf="!item.songId">N/A</span>
              </td>

              <td>{{item.message}}</td>
              <td>{{item.createdAt | date: 'dd-MM-yyyy'}}</td>
              <td>
              <span *ngIf="item.isSongReported == true">Song</span>
              <span *ngIf="item.isSongReported == false">Artist</span>
              </td>
             <td>
             <span *ngIf="item.songId">
                <ui-switch labelOn="ON" switchColor="#4e73df" id="isActive"
                  [disabled]="role=='SubAdmin'&& access.edit==false " [(ngModel)]="item.songId.isBlocked" name="isActive"
                  labelOff="OFF" (click)="blockSong(item.songId)"></ui-switch>
                  </span>
              </td>

            </tr>
          </tbody>
        </table>
        <h4 *ngIf="!reportData.length" class="text-center">No records found.</h4>
      </div>
      <pagination *ngIf="reportData?.length>0" [totalItems]="totalItems" [boundaryLinks]="true" [maxSize]="5"
        [(ngModel)]="currentPage" (pageChanged)="pageChange($event)"></pagination>

    </div>
  </div>
</div>