<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h6 class="m-0 font-weight-bold text-primary">EDIT USER</h6>
            </div>
            <div class="col-md-6 text-right">
              <button class="btn btn-primary" (click)="history.back()"><span class="fas fa-arrow-left"></span> Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form #userForm="ngForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" name="firstName" maxlength="25" appCharacterOnly [(ngModel)]="body.firstName"
                class="form-control" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" name="lastName" maxlength="25" appCharacterOnly [(ngModel)]="body.lastName"
                class="form-control" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Email</label>
              <input type="email" name="email" maxlength="50" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                [(ngModel)]="body.email" class="form-control" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Username</label>
              <input type="text" name="userName" maxlength="50" [(ngModel)]="body.userName" appCharacterOnly
                [isUserName]="true" class="form-control" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label>Country Code</label>
                <select name="countryCode" class="form-control" [(ngModel)]="body.countryCode" required>
                    <option value="">--Select Country Code</option>
                    <option *ngFor="let code of codes" [value]="code.dial_code">{{code.dial_code}}
                        {{code.name}}
                    </option>
                </select>
            </div>
        </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Phone</label>
              <input type="text" name="phoneNo" minlength="7" maxlength="15" appNumberOnly [(ngModel)]="body.phoneNo"
                class="form-control" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Location</label>
              <input ngx-google-places-autocomplete name="location" maxlength="200"   #placesRef="ngx-places" [(ngModel)]="body.location"  (onAddressChange)="handleAddressChange($event)" class="form-control"
              required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>City</label>
              <input type="text" name="city" maxlength="50" appCharacterOnly [(ngModel)]="body.city"
                class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>State</label>
              <input type="text" name="state" maxlength="25" appCharacterOnly [(ngModel)]="body.state"
                class="form-control" required >
            </div>
          </div>
         
        </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Street Name </label>
                <input type="text" name="streetName"  maxlength="30" [(ngModel)]="body.streetName" class="form-control"
                  required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Zip Code</label>
                <input type="text" name="zipCode" appNumberOnly min="5" maxlength="7" [(ngModel)]="body.zipCode" class="form-control"
                  required />
              </div>
            </div>
           
          </div>
        
        <div class="row">
      
        
        <!-- <div class="col-md-6">
          <div class="form-group">
            <label>Gender  </label>
            <select name="gender" class="form-control" [(ngModel)]="body.gender" required>
              <option value="">Select Gender </option>
              <option value="MALE">Male</option>
              <option value="FEMALE">Female</option>
            </select>
          </div>
        </div> -->
        <div class="col-md-6">
          <div class="form-group">
            <label>Profile Type  </label>
            <select name="profileType" class="form-control" [(ngModel)]="body.profileType" required>
              <option value="">Select Profile Type </option>
              <option value="PUBLIC">Public</option>
              <option value="PRIVATE">Private</option>
            </select>
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="form-group">
              <label>Car Status</label><br>
              <ui-switch labelOn="ON" switchColor="#4e73df" id="active" [(ngModel)]="body.carStatus" 
              name="status" labelOff="OFF"></ui-switch>
          </div>
      </div> -->

      <!-- <div class="col-md-6">
          <div class="form-group">
              <label>Transmission Type</label><br>
              <ui-switch labelOn="ON" switchColor="#4e73df"  [(ngModel)]="body.isTransmissionType" 
              name="isTransmissionType" labelOff="OFF"></ui-switch>
          </div>
      </div> -->
        </div>
        <!-- <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>City</label>
              <input type="text" name="city" maxlength="50" appCharacterOnly [(ngModel)]="body.city"
                class="form-control" required  readonly/>
            </div>
          </div>
        </div> -->
        <div class="row mt-2">
          <div class="col-md-12">
            <button class="btn btn-primary" [disabled]="!userForm.valid || flags.isUpdate" (click)="editUser()">
              <span class="fas fa-save"></span>
              {{flags.isUpdate?'Updating...':'Update'}}
            </button>
          </div>
        </div>
       
      </form>
    </div>
  </div>
</div>
