<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="m-0 font-weight-bold text-primary">CMS PAGES</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="container-fluid editormain" >
        <div class="card-body">
            <label>Terms and conditions</label>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
                    <div class="form-group">
                      <ejs-richtexteditor formControlName="TNC"></ejs-richtexteditor>
                    </div>
                    <input type="submit" class="btn btn-primary" name="submit" id="submit" value="Submit">
            </form>
        </div>
        <div class="card-body">
            <label>About Us </label>
                <form [formGroup]="form1" (ngSubmit)="onSubmit1()" autocomplete="off">
                    <div class="form-group">
                      <ejs-richtexteditor formControlName="aboutUs"></ejs-richtexteditor>
                    </div>
                    <input type="submit" class="btn btn-primary" name="submit" id="submit" value="Submit">
            </form>
        </div>
        <div class="card-body">
            <label>Privacy and Policy</label>
                <form [formGroup]="form3" (ngSubmit)="onSubmit3()" autocomplete="off">
                    <div class="form-group">
                      <ejs-richtexteditor formControlName="privacy"></ejs-richtexteditor>
                    </div>
                    <input type="submit" class="btn btn-primary" name="submit" id="submit" value="Submit">
            </form>
        </div>
        <!-- <div class="card-body">
            <label>Contact Us </label>
                <form [formGroup]="form2" (ngSubmit)="onSubmit2()" autocomplete="off">
                    <div class="form-group">
                      <ejs-richtexteditor formControlName="contactUs"></ejs-richtexteditor>
                    </div>
                    <input type="submit" class="btn btn-primary" name="submit" id="submit" value="Submit">
            </form>
        </div> -->

        </div>
