<div class="modal" id="songModal" data-backdrop="static" tabindex="-1" role="dialog">
  
          <!-- <form #artistForm="ngForm">
            <div class="form-group">
              <label>Image</label><br>
              <label class="file">
                <!-- <input type="file" accept="image/*" (change)="onImageSelect($event)" /> -->
                <!-- <input type="file" (change)="onImageSelect($event)" id="artistFile" accept=".png, .jpg, .jpeg"> -->
              <!-- </label>
              <div *ngIf="src">
                <img src="{{src}}" width="100px" height="100px"> -->
  <!--              <p><a href="javascript:void(0)" (click)="onImageRemove()">Remove</a></p>-->
              <!-- </div>
            </div> --> 
             
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Song Detail</h5>
              </div>
              <div *ngIf="songData" class="modal-body">
                  
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <label> Name</label>
                              <input type="text" name="firstName" maxlength="25" appCharacterOnly
                                  [(ngModel)]="songData.name" class="form-control" readonly />
                          </div>
                      </div>
                     
                      <div *ngIf="songData.categoryData.length>0 && songData.categoryData" class="col-md-6">
                          <div class="form-group">
                              <label>Category</label>
                              <input type="text" name="category" 
                                   [(ngModel)]="songData.categoryData[0].name"
                                  class="form-control" readonly />
                          </div>
                      </div>
                      <div class="col-md-12">
                        <div *ngIf="previewUrl" class="form-group">
                            <label>Preview Url</label>
                            <input type="text" name="previewUrl" maxlength="25" appCharacterOnly
                                [(ngModel)]="previewUrl" class="form-control" readonly />
                        </div>
                    </div>
                  
                      <div  *ngIf="songData.albumData && songData.albumData.length>0" class="col-md-6">
                          <div class="form-group">
                              <label>Album</label>
                              <input type="text" name="phone" 
                                  [(ngModel)]="songData.albumData[0].name" class="form-control" readonly />
                          </div>
                      </div>
                  
                      
                      <div *ngIf="songData.playlistData && songData.playlistData.length>0" class="col-md-6">
                          <div class="form-group">
                              <label>Playlist</label>
                              <input type="text" name="gender" 
                              [(ngModel)]="songData.playlistData[0].name" class="form-control" readonly />
                             
                              
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div *ngIf="songData.artistData && songData.artistData.length>0">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label>Artist</label>
                            <div *ngFor="let item of songData.artistData">
                              <input type="text" name="gender" 
                              [(ngModel)]="item.name" class="form-control" readonly />  <br>   
                              </div>
                                
                        </div>
                      </div> 
                    </div>          
                  </div>             
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
      
  <input type="hidden" id="openSongModal" data-toggle="modal" data-target="#songModal">
  