<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row">
          <div class="col-md-12 user_title">
            <h6 class="m-0 font-weight-bold text-primary">Subscription</h6>
          </div>  
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>#</th>
                <th>User Name</th>
                <th>Start Date </th>
                <th>End Date</th>
                <th>Amount </th>
              </tr>
            </thead>
            <tbody>
            <tbody>
              <tr *ngFor="let item of reportData  | paginate: config ; let i = index">
                <td>{{i + serialNumber + 1}}</td>
                <td><span *ngIf="item.userId">{{item.userId.firstName}} {{item.userId.lastName}}</span>
                  <!-- <span *ngIf="!item.userId">N/A</span> -->
                </td>
                <td>{{item.subscriptionStartDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{item.subscriptionEndDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{item.amount}}</td>

              </tr>
            </tbody>
          </table>
          <h4 *ngIf="!reportData.length" class="text-center">No records found.</h4>
        </div>
        <pagination *ngIf="reportData?.length>0" [totalItems]="totalItems" [boundaryLinks]="true" [maxSize]="5"
          [(ngModel)]="currentPage" (pageChanged)="pageChange($event)"></pagination>
  
      </div>
    </div>
  </div>