<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row">
          <div class="col-md-12 user_title">
            <h6 class="m-0 font-weight-bold text-primary">ARTIST</h6>
          </div>
           <div class="col-md-4 user_filter">
          <label>Filter</label>
          <input type="text" class="form-control" name="searchText" [(ngModel)]="filterBody.searchText"
            placeholder="Search Artist">
        </div>
        <div class="col-md-5 user_serch_btn">
          <button type="submit" class="btn btn-primary pl-4 pr-4" (click)="searchArtist()">Search</button>
          <button type="reset" class="btn btn-primary pl-4 pr-4 ml-2" (click)="reset()">Reset</button>
        </div>
        <div *ngIf="(role=='SubAdmin'&& access.add==true)||role=='SuperAdmin'" class="col-md-3 text-right">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addUpdateArtistModal"><span class="fas fa-plus"></span> Add Artist</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>#</th>
              <th>Image</th>
              <th>Name</th>
              <th>Created Date</th>
              <th>Number of Followers</th>
              <th>Updated Date</th>
              <th>Song</th>
              <th>Blocked</th>
              <th  *ngIf="(role=='SubAdmin' && (access.edit==true || access.delete==true))||role=='SuperAdmin'">Action</th>    
  
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of artistData  | paginate: config ; let i = index">
              <td>{{i + serialNumber + 1}}</td>
              <td>
                <img src="{{item.image}}" width="70px" height="70px">
              </td>
              <td>{{item.name}}</td>
              <td>{{item.createdAt | date: 'dd-MM-yyyy'}}</td>
              <td>{{item.numberOfFollower}}</td>
              <td>{{item.updatedAt | date: 'dd-MM-yyyy'}}</td>
              <td class="text-center">
                <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Song" routerLink="/dashboard/artist-song/{{item._id}}"><span
                    class="fas fa-eye"></span></button>
              </td>
              <td>
                <ui-switch labelOn="ON" switchColor="#4e73df" id="isActive" [disabled]="role=='SubAdmin'&& access.edit==false "  [(ngModel)]="item.isBlocked" 
                   name="isBlocked" labelOff="OFF" (click)="blockArtist(item)"></ui-switch>
              </td>
               <td *ngIf="(role=='SubAdmin' && access.edit == true)||(role=='SubAdmin' && access.delete == true)||role=='SuperAdmin'">
                <button *ngIf="(role=='SubAdmin'&& access.edit==true)||role=='SuperAdmin'" class="btn btn-primary mr-1"  data-toggle="tooltip" data-placement="top" title="Edit" (click)="modalComponent.onEditSelect(item)"><span class="fas fa-fw fa-edit"></span></button>
                <button  *ngIf="(role=='SubAdmin'&& access.delete==true)||role=='SuperAdmin'" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete"  (click)="deleteArtist(item._id)"><span class="fas fa-fw fa-trash"></span></button>
              </td>
            </tr>
            </tbody>
          </table>
          <h4 *ngIf="!artistData.length" class="text-center">No records found.</h4>
        </div>
        <pagination *ngIf="artistData?.length>0" [totalItems]="totalItems" [boundaryLinks]="true" [maxSize]="5" [(ngModel)]="currentPage" (pageChanged)="pageChange($event)"></pagination>
      
      </div>
    </div>
  </div>
  <app-artist-modal [isEdit]="flags.isEdit" (onAddEdit)="getArtist(1)" [imageUrl]="imageUrl"></app-artist-modal>
  