<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row">
          <div class="col-md-12 user_title">
            <h6 class="m-0 font-weight-bold text-primary">CONTACT</h6>
          </div>
          <div class="col-md-4 user_filter">
            <label>Filter</label>
            <input type="text" class="form-control" name="searchText" [(ngModel)]="filterBody.searchText"
              placeholder="Search Contact">
          </div>
          <div class="col-md-5 user_serch_btn">
            <button type="submit" class="btn btn-primary pl-4 pr-4" (click)="searchPlaylist()">Search</button>
            <button type="reset" class="btn btn-primary pl-4 pr-4 ml-2" (click)="reset()">Reset</button>
          </div>
        
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Email</th>
              <th>Subject</th>
              <th>Message</th>
              <th>Created Date</th>
              <!-- <th>Blocked</th> -->
             
  
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of contactUsData  | paginate: config ; let i = index">
              <td>{{i + serialNumber + 1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.email}}</td>
              <td>{{item.subject}}</td>
              <td>{{item.message}}</td>
              <td>{{item.createdAt | date: 'dd-MM-yyyy'}}</td>
              <!-- <td>
                <ui-switch labelOn="ON" switchColor="#4e73df" id="isActive" [(ngModel)]="item.isBlocked" 
                   name="isBlocked" labelOff="OFF" (click)="blockPlaylist(item)"></ui-switch>
              </td> -->
            
            </tr>
            </tbody>
          </table>
          <h4 *ngIf="!contactUsData.length" class="text-center">No records found.</h4>
        </div>
        <pagination *ngIf="contactUsData?.length>0" [totalItems]="totalItems" [boundaryLinks]="true" [maxSize]="5" [(ngModel)]="currentPage" (pageChanged)="pageChange($event)"></pagination>
      
      </div>
    </div>
  </div>
  