<div class="modal" id="productInfoModal" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog product-detail" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Bank Details</h5>
        </div>
        <div class="modal-body">
          <table class="table table-responsive table-striped">
            <thead>
            <tr>
              <th>#</th>

              <th>Bank Name</th>
              <th>Account Holder Name</th>
              <th>Account Number</th>
              
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of BankList; let i = index">
              <td>{{i + 1}}</td>
             
              <td>{{item.bankName}}</td>
              <td>{{item.accountHolderName}}</td>
              <td>{{item.accountNumber}}</td>
            </tr>
            </tbody>
          </table>
          <h4 *ngIf="BankList && BankList.length==0" class="text-center">No records found.</h4>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  