<div class="container-fluid">
  
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="m-0 font-weight-bold text-primary">APP VERSION</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="versionData" class="card-body">
            <form #versionForm="ngForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Latest Android Version</label>
                            <input type="text" name="andversion" [(ngModel)]="versionData.latestAndroidVersion " maxlength="50"
                                class="form-control"  required />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Latest IOS Version</label>
                            <input type="text" name="iosversion" [(ngModel)]="versionData.latestIOSVersion " maxlength="50"
                                class="form-control"  required />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Critical Android Version</label>
                            <input type="text" name="criticalandversion" [(ngModel)]="versionData.criticalAndroidVersion"  
                                 class="form-control" required />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Critical IOS Version</label>
                            <input type="text" name="criticaliosversion" [(ngModel)]="versionData.criticalIOSVersion"
                                 class="form-control"   required />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Latest Web ID</label>
                            <input type="text" name="latestwebid" [(ngModel)]="versionData.latestWebID"
                                 class="form-control"   required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Critical Web ID</label>
                            <input type="text" name="criticalwebid" [(ngModel)]="versionData.criticalWebID"
                                class="form-control"   required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Update Message At Popup</label>
                            <input type="text" name="updatemessage" [(ngModel)]="versionData.updateMessageAtPopup"  
                                  class="form-control" required />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Update Title At Popup</label>
                            <input  type="text" name="updatetitle" [(ngModel)]="versionData.updateTitleAtPopup"  
                                 class="form-control" required />
                        </div>
                    </div>

                    <!-- <div class="col-md-6">
                        <div class="form-group">
                            <label>Latest Driver IOS Version</label>
                            <input  type="text" name="latestDriverIOSVersion" [(ngModel)]="versionData.latestDriverIOSVersion"  
                                 class="form-control" required />
                        </div>
                    </div> -->

                    <!-- <div class="col-md-6">
                        <div class="form-group">
                            <label>Latest Driver Android Version</label>
                            <input  type="text" name="latestDriverAndroidVersion" [(ngModel)]="versionData.latestDriverAndroidVersion"  
                                 class="form-control" required />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Critical Driver Android Version</label>
                            <input  type="text" name="criticalDriverAndroidVersion" [(ngModel)]="versionData.criticalDriverAndroidVersion"  
                                 class="form-control" required />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Critical Driver IOS Version</label>
                            <input  type="text" name="criticalDriverIOSVersion" [(ngModel)]="versionData.criticalDriverIOSVersion"  
                                 class="form-control" required />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Driver Update Message At Popup</label>
                            <input  type="text" name="driverUpdateMessageAtPopup" [(ngModel)]="versionData.driverUpdateMessageAtPopup"  
                                 class="form-control" required />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Driver Update Title At Popup</label>
                            <input  type="text" name="driverUpdateTitleAtPopup" [(ngModel)]="versionData.driverUpdateTitleAtPopup"  
                                 class="form-control" required />
                        </div>
                    </div> -->

                    <!-- <div class="col-md-6">
                        <div class="form-group">
                            <label>About Us</label>
                            <input  type="text" name="aboutUs" [(ngModel)]="versionData.aboutUs"  
                                 class="form-control" required />
                        </div>
                    </div> -->

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Contact Us</label>
                            <input  type="text" name="contactUs" [(ngModel)]="versionData.contactUs"  
                                 class="form-control" required />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Terms & Condition</label>
                            <input  type="text" name="termsAndConditions" [(ngModel)]="versionData.termsAndConditions"  
                                 class="form-control" required />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Privacy and Policy</label>
                            <input  type="text" name="driverAboutUs" [(ngModel)]="versionData.privacyPolicy"  
                                 class="form-control" required />
                        </div>
                    </div>

                    <!-- <div class="col-md-6">
                        <div class="form-group">
                            <label>Driver Contact Us</label>
                            <input  type="text" name="driverContactUs" [(ngModel)]="versionData.driverContactUs"  
                                 class="form-control" required />
                        </div>
                    </div> -->
<!-- 
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>driverTermsAndCondition</label>
                            <input  type="text" name="driverTermsAndCondition" [(ngModel)]="versionData.driverTermsAndCondition"  
                                 class="form-control" required />
                        </div>
                    </div> -->

                   
                </div>

                <div class="row mt-2">
                    <div class="col-md-12">
                        <button  *ngIf="(role=='SubAdmin'&& access.edit==true)||role=='SuperAdmin'" class="btn btn-primary" (click)="setAppVersion()" [disabled]="!versionForm.valid"><span
                                class="fas fa-save"></span> {{flags.isUpdate?'Updating...':'Update'}}</button>
                    </div>
                </div>
            </form>
        </div>     
    </div>
</div>