/* You can add global styles to this file, and also import other style files */
.active {
  color: #ffffff;;
  font-weight: bold !important;
  font-size: .90rem !important;
  background-color: #2456b9;
}
.dropdown-list {
  height: 200px;
  overflow: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.badge {
  padding: 0.50em .4em !important;
}

.bg-gradient-primary {
  height: 100% !important;
}

.user_filter label {
  margin-right: 10px;
}
.user_filter {
  display: flex;
  align-items: center;
justify-content: felx-start;
}
.user_title{margin-bottom:15px;}

