<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4" (click)="gotoUser()">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-3">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Users</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboardList?.countUser}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-user fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4" (click)="gotoSong()">
        <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-3">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Songs</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboardList?.countSong}}</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-music fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div><div class="col-xl-3 col-md-6 mb-4" (click)="gotoAlbum()">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-3">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Albums</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboardList?.countAlbum}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4" (click)="gotoArtist()">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-3">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Artists</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboardList?.countArtist}}</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-list-alt fa-2x text-gray-300 "></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <fusioncharts [type]="type" [width]="width" [height]="height" [dataSource]="dataSource"></fusioncharts>
</div>
    <!-- Earnings (Monthly) Card Example -->
    <!-- <div class="col-xl-2 col-md-6 mb-4" (click)="gotoCategory()">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Category</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{dashboardList?.category}}</div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-fw fa-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Pending Requests Card Example -->
    <!-- <div class="col-xl-2 col-md-6 mb-4" (click)="gotoBanner()">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Banner
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboardList?.banner}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <!-- Content Row -->

