div#addUpdateAlbumModal {
    overflow-y: hidden;
    }
@media(max-width:1500px){
.modal-content {
overflow-y: scroll;
height: 550px;
}
}
.dropdown-list {
height: 200px !important;
overflow: hidden !important;
}
.modal-content {
height: 440px;
overflow-y: scroll;
}
