<div class="modal" id="addUpdateAlbumModal" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{isEdit?'Edit':'Add'}} Album</h5>
        </div>
        <div class="modal-body">
          <form #albumForm="ngForm">
            <div class="form-group">
              <label>Image</label><br>
              <label class="file">
                <!-- <input type="file" accept="image/*" (change)="onImageSelect($event)" /> -->
                <input type="file" (change)="onImageSelect($event)" id="albumFile" accept=".png, .jpg, .jpeg">
              </label>
              <div *ngIf="src">
                <img src="{{src}}" width="100px" height="100px">
  <!--              <p><a href="javascript:void(0)" (click)="onImageRemove()">Remove</a></p>-->
              </div>
            </div>
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" maxlength="40" name="name" [(ngModel)]="albumName" required />
            </div>
             <div *ngIf="ArtistList && ArtistList.length>0" class="form-group">
                  <label>Artist </label>
                  <ng-multiselect-dropdown
                  [placeholder]="'Select Artist'"
                  [data]="ArtistList"
                  
                  [(ngModel)]="artist"
                  [ngModelOptions]="{standalone: true}"
                  [settings]="dropDownSetting"
                  (onSelect)="onItemSelect($event)"
                  (onDeSelect)="onDeSelect($event)"
                >
                </ng-multiselect-dropdown>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button *ngIf="!isEdit" type="button" class="btn btn-primary" [disabled]="!albumForm.valid || flags.isAdded" (click)="addAlbum()">{{flags.isAdded?'Saving...':'Save'}}</button>
          <button *ngIf="isEdit" type="button" class="btn btn-primary" [disabled]="!albumForm.valid || flags.isUpdate" (click)="editAlbum()">{{flags.isUpdate?'Updating...':'Update'}}</button>
          <button type="button" class="btn btn-secondary" id="closeArtistModal" (click)="onCancel()" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" id="openAlbumModal" data-toggle="modal" data-target="#addUpdateAlbumModal">
  